<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the game view</h1>

    <h2>Score: <%= something %></h2>

    <h1>
        <%= questions[q].question %>
    </h1>

      <form action="/" method="POST">
        <button id="one"    type="submit"   onclick="changeValueOfInput('<%= questions[q].all_options[0] %>')"   name="<%= questions[q].all_options[0] %>"   ><%= questions[q].all_options[0] %></button>
        <button id="two"    type="submit"   onclick="changeValueOfInput('<%= questions[q].all_options[1] %>')"   name="<%= questions[q].all_options[1] %>"   ><%= questions[q].all_options[1] %></button>
        <button id="three"  type="submit"   onclick="changeValueOfInput('<%= questions[q].all_options[2] %>')"   name="<%= questions[q].all_options[2] %>"   ><%= questions[q].all_options[2] %></button>
        <button id="four"   type="submit"   onclick="changeValueOfInput('<%= questions[q].all_options[3] %>')"   name="<%= questions[q].all_options[3] %>"   ><%= questions[q].all_options[3] %></button>

        <input type="text" id="selectedOpt">
      </form>
    
</body>



<script type="text/javascript" src="/javascripts/game.js"></script>
</html>